
<!-- <div class="icon-container"> -->
<i class="wrapper icon">
  <i ng-if="isdir()" ng-class="icon()" ng-click="toggle()"></i>
  <i ng-if="isfile()" ng-class="icon()"></i>
</i>
<!-- </div> -->

<div class="content">
  <div class="header">
    <span ng-if="isdir()">{{ node.Name }}</span>
    <a ng-if="isfile() && !isdownloading()" ng-href="/download/{{ node.$path }}">{{ fileName }}</a>
    <span ng-if="isfile() && isdownloading()">{{ fileName }}</span>
    
  </div>
  <div class="description">{{ node.Size | bytes }} updated {{ ago(node.Modified) }}</div>
  <div class="list" ng-if="isdir() && !closed()">
    <div class="item" ng-repeat="node in node.Children"
        ng-controller="NodeController"
        ng-include src="'template/download-tree.html'"></div>
  </div>
</div>
